<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- import the database configuration -->
    <properties resource="jdbc.properties"></properties>

    <typeAliases>
<!--        <typeAlias type="com.xxxx.corebanking.lending.lendingservice.entity.Customer_info" alias="Customer" />-->
        <package name="com.xxxx.corebanking.lending.lendingservice.entity"  />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 配置连接信息 -->
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="defaultTransactionIsolationLevel" value="${jdbc.defaultTransactionIsolationLevel}" />
                <property name="poolMaximumActiveConnections" value="${jdbc.poolMaximumActiveConnections}" />
                <property name="poolMaximumIdleConnections" value="${jdbc.poolMaximumIdleConnections}" />
            </dataSource>
        </environment>
    </environments>

    <!-- Configuration the Mapper：sql Statement and resultSet  -->
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>
