<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.corebanking.lending.lendingservice.entity.CustomerMapper">
    <select id="SelectCustomer" resultMap="CustomerMap">
        select customer_id,customer_name,gender,date_of_birth,create_time,update_time
        from customer_info where customer_id = #{customer_id}
    </select>
    <resultMap id="CustomerMap" type="Customer_info" >
        <id column="customer_id" property="customer_id" />
        <result column="customer_name" property="customer_name" />
        <result column="gender" property="gender" />
        <result column="date_of_birth" property="date_birth" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
    </resultMap>

    <insert id="AddCustomer" parameterType="Customer_info"
    useGeneratedKeys="true">
        Insert into customer_info (customer_name,gender,date_of_birth,create_time,update_time)
        values(#{customer_name},#{gender},#{date_birth},#{create_time},#{update_time})
    </insert>

    <update id="UpdateCustomer" parameterType="Customer_info">
        update customer_info set customer_name =#{customer_name},
        gender = #{gender}, date_of_birth =#{date_birth}, update_time =#{update_time}
        where customer_id =#{customer_id}
    </update>

    <delete id="DeleteCustomer" parameterType="Customer_info">
        delete from customer_info where customer_id =#{customer_id}
    </delete>

    <select id="selectAll" resultType="Customer_info" parameterType="CustomerPageParameters">
        select customer_id,customer_name,gender,date_of_birth date_birth,create_time,update_time
        from customer_info limit #{startIndex}, #{pageNumber}
    </select>

    <select id="selectAllMap" resultType="Customer_info" parameterType="Map">
        select customer_id,customer_name,gender,date_of_birth date_birth,create_time,update_time
        from customer_info limit #{startIndex}, #{pageNumber}
    </select>

    <select id="getAll" resultType="Customer_info" >
        select customer_id,customer_name,gender,date_of_birth date_birth,create_time,update_time
        from customer_info
    </select>


</mapper>
