<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.corebanking.lending.lendingservice.entity.CustomerMapper">
    <select id="SelectCustomer" resultType="com.xxxx.corebanking.lending.lendingservice.entity.Customer_info">
        select customer_id,customer_name,gender,date_of_birth,create_time,update_time
        from customer_info where customer_id = #{customer_id}
    </select>

    <insert id="AddCustomer" parameterType="com.xxxx.corebanking.lending.lendingservice.entity.Customer_info"
    useGeneratedKeys="true">
        Insert into customer_info (customer_name,gender,date_of_birth,create_time,update_time)
        values(#{customer_name},#{gender},#{date_of_birth},#{create_time},#{update_time})
    </insert>

    <update id="UpdateCustomer" parameterType="com.xxxx.corebanking.lending.lendingservice.entity.Customer_info">
        update customer_info set customer_name =#{customer_name},
        gender = #{gender}, date_of_birth =#{date_of_birth}, update_time =#{update_time}
        where customer_id =#{customer_id}
    </update>

    <delete id="DeleteCustomer" parameterType="com.xxxx.corebanking.lending.lendingservice.entity.Customer_info">
        delete from customer_info where customer_id =#{customer_id}
    </delete>
</mapper>
